@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
:root {

  --heading-font: "Shadows Into Light";
  --paragraph-font: Roboto, Helvetica, sans-serif;

  --headline-color-on-white: #252422;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #CCC5B9; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #252422  ;
  --nav-link-color: white;
  --nav-background-color: #EB5E28;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #252122;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 35px;
}   

nav a:hover {
  background-color: white;
  color: #252422;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px; 
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}

#hero-msg h1, #hero-msg h4{
  text-align: center;
  color:white;
}

#hero-img {
  width: 100%
}

.button-box {
  text-align: center;
  color: white;
}

main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}

#background {
  height: 725px;
  background-color: #252422;
  grid-column: 1/11;
  grid-row: 4/9;
}

body {
  background-color: #CCC5B9; 
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h2{
  margin: 0;
}

header {
  background-color:#252422;
  display: grid;
  grid-template-columns: 150px auto;
}

.home-title {
  color: white;
  font-family: "Shadows Into Light";
  font-size: 2em;
  margin-top: 10px;
}

.book, .join {
  background-color: white;
  color: #252422 ;
  text-decoration: none;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover, .join:hover {
  background-color: #252422;
  color: white;
}

.rivers-card {
  grid-column: 2/4;
  grid-row: 2/3;
  margin: 200px 0; 
}

.camping-card {
  margin: 200px 0;
  grid-column: 5/7;
  grid-row: 2/3;
}

.rapids-card {
  margin: 200px 0;
  grid-column: 8/10;
  grid-row: 2/3;
}

.card-img {
  border: 10px solid #252422;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
  opacity: .6;
  transform: scale(1.1);
}


.card-img, .mountains {
  width: 100%;
}
  
.mountains {
  width: 100%;
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f7364;
}

h4 {
  color: #252422;
}

.msg h2 {
  color: white;
  font-family: "Shadows Into Light";
} 

.msg p {
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: .8em;
  padding-bottom: 15px;
}

.msg {
  background-color: #EB5E28;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
  line-height: 1.5em
}

footer {
  background-color: #252422;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
} 

footer a{
  color: white;
  text-decoration: none;
}

footer a:hover {
  background-color:white;
  color: #252422;
}

footer p {
  color: white;
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}    

footer .social img {
  padding-top: 15px;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

.logo {
  width: 80px;
}

#logo_link {
  padding-top: 5px;
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

/*New page "Rivers we use"*/

body {
  background-color: #CCC5B9; 
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.home2-title {
  color: white;
  font-family: "Shadows Into Light";
  font-size: 3em;
  margin: center;
}

#hero2 {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px; 

}

#hero2-img {
  width: 100%
}

#hero2-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero2-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 150px;
}

#hero-river {
  width: 100%
}

#hero2-msg h1 {
  text-align: center;
  color:white;
}

h1 , h2 , h3 {
text-align: center;
font-size: 30px;
}

#rivers-main {
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
  
}

main section img {
  box-sizing: border-box;
}

#background2 {
  height: 400px;
  background-color: #252422;
  grid-column: 1/11;
  grid-row: 4/9;
  display: flex;
  align-items: center;
}

#background2 img{
  width: 35%;
  height: 70%
}

.river1 {
  max-height: 500px;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px #6f7364;
}

.river2 {
  max-height: 500px;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px #6f7364;
}
.river3 {
  max-height: 500px;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px #6f7364;
}
.river4 {
  max-height: 500px;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px #6f7364;
}
.river5 {
  max-height: 500px;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px #6f7364;
}
.river6 {
  max-height: 500px;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px #6f7364;
}
.river7 {
  max-height: 500px;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px #6f7364;
}
.river8 {
  max-height: 500px;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px #6f7364;
}
.river9 {
  max-height: 500px;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px #6f7364;
}
#footer2 {
  background-color: #252422;
  padding: 25px 50px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: #6f7364;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
/*rivers page*/

  #hero2-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 50px;
  }
  
  #hero-river {
    width: 200%
  }
  
  #hero2-msg h1 {
    text-align: center;
    color:white;
  }

  .river1 {
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px #6f7364;
  }
  
  .river2 {
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px #6f7364;
  }
  .river3 {
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px #6f7364;
  }
  .river4 {
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px #6f7364;
  }
  .river5 {
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px #6f7364;
  }
  .river6 {
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px #6f7364;
  }
  .river7 {
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px #6f7364;
  }
  .river8 {
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px #6f7364;
  }
  .river9 {
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px #6f7364;
  }
}