#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    color: white;
    text-decoration: none;
}   
nav a:hover {
  background-color: white;
  color: #252422;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
    color:#252422;
}
#hero-img{
  width: 100%
}

.button-box{
    text-align: center;
    color: white;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
    background-color: #EB5E28;
}

body {
  background-color: #CCC5B9; 
}

header {
  background-color:#252422;
}


.home-title{
    color: white;
}

.book, .join{
  background-color: white;
  color: #252422 ;
  text-decoration: none;
} 
.book:hover, .join:hover{
  background-color: #252422;
  color: white;
} 

h4{
    color: #252422;
}

.msg h2{
    color: white;
} 
.msg p{
    color: white;
}
.msg{
  background-color: #EB5E28;
}

footer{
  background-color: #252422;
}
footer a{
  color: white;
  text-decoration: none;
}
footer a:hover{
  background-color:white;
  color: #252422;
}
footer p{
  color: white;
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
}    

.icon {
  width: 80px;
}

.logo{
  width: 80px;
}