@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Sarabun&display=swap');
img {
  max-width: 100%;
}
:root {

  --heading-font: "Caveat";
  --paragraph-font: Sarabun, Helvetica, sans-serif;

  --headline-color-on-white: #424B54;  /* headlines on a white background */ 
  --headline-color-on-color: #424B54; /* headlines on a colored background */ 
  --paragraph-color-on-white: #424B54; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #424B54; /* paragraph text on a colored background */ 
  --paragraph-background-color: #D5ACA9 ;
  --nav-link-color: #EBCFB2;
  --nav-background-color: #424B54 ;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #C5BAAF;
}
header {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  }

#content {
  max-width: 1600px;
  margin: 0 auto;
}
.background-image {
  margin: 0;
  padding: 0;
  height: 100%;
}
.logo {
  grid-column: 4/7;
  width: 220px;
}

body {
  background-image: url('../images/ross2.jpg');
  font-family: Sarabun, Helvetica, sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 22px;
  color: #424B54;
  margin: 0;
  padding: 2.31em;;
}
* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-radius: 10px;
  background: #d5aca936;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #EBCFB2;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #EBCFB2;
  color: #424B54;
  padding: 1em 3em;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.9;
  grid-column: 11/13;
  justify-self: center;
  align-self: center;
}

button:hover {
  opacity:4;
}
.bold {
  font-weight: 700;
  }
.cancelbtn, .signup {
  float: left;
  width: 50%;
  font-weight: 600;
  font-size: 20px;
}
/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #424b545e;
}
.signup {
  padding: 14px 20px;
  background-color: #D5ACA9;
}
.cancelbtn, .signup :hover {
  opacity:10;
}
/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #ebcfb27b;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 30px;
  font-weight: bold;
  color: #424B54;
}

.close:hover,
.close:focus {
  color: #D5ACA9;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

nav {

  grid-column: 1/13;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  background: #424b54a8;
  box-shadow: 5px 5px 10px #424b548a;
  border-radius: 20px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  height: 100%;
  
}   
nav ul li a{
  display: block;
  text-decoration: none;
  font-size: 30px;
  font-family: "Caveat";
  font-weight: 600;
  letter-spacing: 2px;
  color: #EBCFB2;
  transition: all ease 0.5s;
  padding:0 6rem ;
}

nav a:hover {
  background-color: #C5BAAF;
  color: white;
  height: 100%;
}
/* homepage */
.hero-box{
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  height: 200px;
  align-items: center;
  padding-bottom: 25rem;
  margin-top: 2rem;
  
}
.hero{
  margin-left: auto;
  height: 100%;
  width: 100%;
  margin-top: 3rem;
  
 
}
.msg p{
  margin-right: auto;
  font-family: "caveat";
  font-size: 2rem;
  padding: 4em;
  margin-top: 6rem;
  padding-right: 6rem;
  padding-left: 6rem;
  text-align: center;

}
.msg {
  background-color:#d5aca99f;
  height: 100%;
  width: 100%;
  margin-top: 3rem;
}

.title h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 18rem;
  margin-bottom: 5rem;
  
}

.home-main {
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;

}
.box {
  max-height: auto;
  max-width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "caveat";
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  
}

.button-box {
  background-color: #D5ACA9;
  grid-column: 2; 
  font-size: 18px;
  padding: 15px 20px;
  margin-top: 5rem;
  border-radius: 6px;
  box-shadow: 5px 5px 10px #424b548a;
  line-height: 1.5em
  
}
.viewall {

  font-size: 2rem;
  font-family: Sarabun;
  margin-left: 08rem;
  text-decoration: none;
  color: white

}
.button-box :hover {
  background-color: #C5BAAF;
  color: white;

}
.box10 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
 

}

.final{
  width: auto;
  height:auto;
  margin-right: 10px;
  margin-top: 5em;
  align-items: center;
  justify-content: center;
}
.best{
  z-index: 2;
  margin-top: 14rem;
  margin-left: 07rem;
  align-content: center;
  font-size: 3rem;
  font-family: Sarabun;
}
.best  :hover {
  color: white;
}
.box11{
  width: 600px;
  height:100px;
  grid-column: 2;
  margin-left: 10px;
  margin-top: -25rem;
  position: relative;

}
.new{
  z-index: 2;
  margin-top: -17rem;
  margin-left: 09rem;
  align-content: center;
  font-size: 3rem;
  font-family: Sarabun;
  
}
.new :hover {
  color: white;
}

/*catalogue page*/

.herobox{
  width: 100%;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-bottom: 5px;
}
.hero2{
  width: 800px;
  height: 400px;
  align-items:  left;
  margin-top: 1rem;
  padding-left: 13rem;
  padding-right: 6rem;
  
}
.description {
  margin-right: auto;
  margin-top: 8rem;
  font-family: "Sarabun";
  font-size: 20px;
  color: #424B54;
  padding: 4em;
  padding-right: 8rem;
  text-align: center;

}
.descount{
  margin-right: auto;
  font-family: "caveat";
  font-size: 30px;
  font-weight: 600;
  color: #424B54;
  padding: 4em;
  padding-top: 0;
  padding-right: 3rem;
  padding-left: 3rem;
  text-align: center;
}
.buttonbox{
  background-color: #D5ACA9;
  grid-column: 2;
  font-size: 18px;
  padding: 15px 20px;
  margin-top: 50px;
  border-radius: 6px;
  box-shadow: 5px 5px 10px #424b548a;
  line-height: 1.5em
    
}
  .add {
  font-size: 20px;
  font-family: Sarabun;
  margin-left: 01rem;
  text-decoration: none;
  color: white  
}
  .buttonbox :hover {
  background-color: #C5BAAF;
  color: white;
}

.section{
  background-color: #EBCFB2;
  width: 100%;
  margin-top: 3rem;
  height: 450px;
  padding-top: 1rem;
  padding-bottom: 4rem;
  color: #424B54;
  font-size: 20px;
  text-align: center;
}

.pixflex{
  display: flex; 
}


.pic {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "caveat";
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.pic img{
  width: 200px;
  height:200px;
  border-radius:50%;
}

/*about page*/

.about h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 5rem;
}
.paragraph1 {
  display: flex;
  font-family: "caveat";
  font-size: 2rem;
  margin-top: 3rem;
  padding-right: 6rem;
  padding-left: 7rem;
  text-align: right;
  gap: 15px;
}
.ph1 {
  width: 400px;
  height: 300px;
  margin-top: 4rem;
  padding-left: 2rem;
}
.paragraph2{
  display: flex;
  margin-right: auto;
  margin-top: 1px;
  font-family: "caveat";
  font-size: 2rem;
  padding-right: 6rem;
  padding-left: 6rem;
  text-align: left;
  gap: 15px;
}
.ph2 {
  width: 400px;
  height: 300px;
  padding-top: 2rem;
  margin-top: 4rem;
 

}

footer {
  background-color: #424b54a8 ;
  padding: 25px 50px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
} 

footer a{
  color: #EBCFB2;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer p {
  color: #EBCFB2;
  font-size: 1.2em;
}
  
footer .social img {
  padding-top: 15px;
  width:80px;
}


@media screen and (min-width: 900px) {
  .nav {
    display: flex;
  }
  .hero-box{
    display: grid; 
  }
  .title h1{
  display: flex;
  }
  .home-main {
    display: grid; 
  }
  .box10 {
    display: grid;
  }
}
  